body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: mediumpurple;
}

main {
    margin: auto;
    width: 60%;
    text-align: center;
    }

    section{
        margin-bottom: 60px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    input {
        display: block;
        margin: 10px auto;
        width: 250px;
        height: 20px;
        border-radius: 4px;
        border: 1px solid lightgray;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        padding: 10px;
    }

    button {
        padding: 10px 20px;
        border-radius: 15px;
        border: none;
        background-color: orangered;
        color: white;
        font-family: inherit;
        font-size: 1em;
        margin: 10px;
    }
    button:hover {
        color: orangered;
        background-color: white;
    }

    .red {
        color: orangered;
    }
    .green {
        color: greenyellow;
    }
    